In [2]:
#Import des 1ère bibliothèques nécessaires

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

# %matplotlib inline permet d'afficher le graphique directement sans avoir à rentrer plt.show()
%matplotlib inline  
plt.style.use('seaborn-v0_8')

In [ ]:
#Import du dataset
df = pd.read_csv("BMW sales data (2010-2024) (1).csv")

In [ ]:
#Affichage des 1ères lignes du dataset
df.head(10)

,Model,Year,Region,Color,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification
0,5 Series,2016,Asia,Red,Petrol,Manual,3.5,151748,98740,8300,High
1,i8,2013,North America,Red,Hybrid,Automatic,1.6,121671,79219,3428,Low
2,5 Series,2022,North America,Blue,Petrol,Automatic,4.5,10991,113265,6994,Low
3,X3,2024,Middle East,Blue,Petrol,Automatic,1.7,27255,60971,4047,Low
4,7 Series,2020,South America,Black,Diesel,Manual,2.1,122131,49898,3080,Low
5,5 Series,2017,Middle East,Silver,Diesel,Manual,1.9,171362,42926,1232,Low
6,i8,2022,Europe,White,Diesel,Manual,1.8,196741,55064,7949,High
7,M5,2014,Asia,Black,Diesel,Automatic,1.6,121156,102778,632,Low
8,X3,2016,South America,White,Diesel,Automatic,1.7,48073,116482,8944,High
9,i8,2019,Europe,White,Electric,Manual,3.0,35700,96257,4411,Low

In [ ]:
#Vérifier le type de chaque variable, présence ou non de valeur nulle
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 50000 non-null  object
 1   Year                  50000 non-null  int64
 2   Region                50000 non-null  object
 3   Color                 50000 non-null  object
 4   Fuel_Type             50000 non-null  object
 5   Transmission          50000 non-null  object
 6   Engine_Size_L         50000 non-null  float64
 7   Mileage_KM            50000 non-null  int64
 8   Price_USD             50000 non-null  int64
 9   Sales_Volume          50000 non-null  int64
 10  Sales_Classification  50000 non-null  object
dtypes: float64(1), int64(4), object(6)
memory usage: 4.2+ MB

In [6]:
#Statistique descriptive rapide
df.describe(include='all')

,Model,Year,Region,Color,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification
count,50000,50000.000000,50000,50000,50000,50000,50000.000000,50000.000000,50000.000000,50000.000000,50000
unique,11,NaN,6,6,4,2,NaN,NaN,NaN,NaN,2
top,7 Series,NaN,Asia,Red,Hybrid,Manual,NaN,NaN,NaN,NaN,Low
freq,4666,NaN,8454,8463,12716,25154,NaN,NaN,NaN,NaN,34754
mean,NaN,2017.015700,NaN,NaN,NaN,NaN,3.247180,100307.203140,75034.600900,5067.514680,NaN
std,NaN,4.324459,NaN,NaN,NaN,NaN,1.009078,57941.509344,25998.248882,2856.767125,NaN
min,NaN,2010.000000,NaN,NaN,NaN,NaN,1.500000,3.000000,30000.000000,100.000000,NaN
25%,NaN,2013.000000,NaN,NaN,NaN,NaN,2.400000,50178.000000,52434.750000,2588.000000,NaN
50%,NaN,2017.000000,NaN,NaN,NaN,NaN,3.200000,100388.500000,75011.500000,5087.000000,NaN
75%,NaN,2021.000000,NaN,NaN,NaN,NaN,4.100000,150630.250000,97628.250000,7537.250000,NaN
max,NaN,2024.000000,NaN,NaN,NaN,NaN,5.000000,199996.000000,119998.000000,9999.000000,NaN

In [8]:
#Vérifier le nombre de valeur nulle (même si vu plus haut qu'il y'en avait pas)
df.isnull().sum()

Model                   0
Year                    0
Region                  0
Color                   0
Fuel_Type               0
Transmission            0
Engine_Size_L           0
Mileage_KM              0
Price_USD               0
Sales_Volume            0
Sales_Classification    0
dtype: int64

In [ ]:
#Vérifier si présence de doublons
df.duplicated().sum()

np.int64(0)

In [10]:
#Nombre de valeur unique de chaque variable
df.nunique()

Model                      11
Year                       15
Region                      6
Color                       6
Fuel_Type                   4
Transmission                2
Engine_Size_L              36
Mileage_KM              44347
Price_USD               38246
Sales_Volume             9845
Sales_Classification        2
dtype: int64

In [11]:
for col in df.columns:
    uniques = df[col].unique()
    print(f"{col} — {len(uniques)} valeurs uniques")
    print(uniques)
    print("-" * 60)

Model — 11 valeurs uniques
['5 Series' 'i8' 'X3' '7 Series' 'M5' '3 Series' 'X1' 'M3' 'X5' 'i3' 'X6']
------------------------------------------------------------
Year — 15 valeurs uniques
[2016 2013 2022 2024 2020 2017 2014 2019 2012 2015 2011 2021 2023 2010
 2018]
------------------------------------------------------------
Region — 6 valeurs uniques
['Asia' 'North America' 'Middle East' 'South America' 'Europe' 'Africa']
------------------------------------------------------------
Color — 6 valeurs uniques
['Red' 'Blue' 'Black' 'Silver' 'White' 'Grey']
------------------------------------------------------------
Fuel_Type — 4 valeurs uniques
['Petrol' 'Hybrid' 'Diesel' 'Electric']
------------------------------------------------------------
Transmission — 2 valeurs uniques
['Manual' 'Automatic']
------------------------------------------------------------
Engine_Size_L — 36 valeurs uniques
[3.5 1.6 4.5 1.7 2.1 1.9 1.8 3.  2.4 3.8 2.3 2.6 3.1 3.7 4.8 3.3 3.2 2.2
 4.1 2.  4.7 4.3 4.  3.6 4.9 3.4 2.8 3.9 1.5 4.2 2.5 2.7 4.6 5.  4.4 2.9]
------------------------------------------------------------
Mileage_KM — 44347 valeurs uniques
[151748 121671  10991 ... 147396   3379 171003]
------------------------------------------------------------
Price_USD — 38246 valeurs uniques
[ 98740  79219 113265 ...  73173  48714  77492]
------------------------------------------------------------
Sales_Volume — 9845 valeurs uniques
[8300 3428 6994 ... 8743 4398 4341]
------------------------------------------------------------
Sales_Classification — 2 valeurs uniques
['High' 'Low']
------------------------------------------------------------